body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background: #1d2026;
    color: #FDB9FC;
    overflow-x: hidden;
}

nav{
    display: flex;
    align-items: center;
    padding: 8px 8px;
    background-color: #FDB9FC;
}
nav .menu-img{
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
}

nav .menu-logo{
    width: 60px;
    cursor: pointer;
    border-radius: 30px;
}

nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #1d2026;
}

.join-btn {
    transition-duration: 0.4s;
    border: 2px solid #FF00E4;
    border-radius: 15px 15px 15px 15px;
    color:  #1d2026;
    background-color: Transparent;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.join-btn:hover{
    background-color: #FF00E4;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 7px 20px 0 rgba(0,0,0,0.19);
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px; 
    padding: 100px 20vw;
}

.name-span{
    color: #1d2026;
}
/* ----------- INFO SECTION ----------- */
.info-section{
    color: #1d2026;
    background-image: url('./src/ss_banner.gif');
    background-size: cover ;
    text-align: center;
}   

/* ----------- ABOUT SECTION ----------- */
.about-section{
    background-color: #FF00E4;
    color: #FDB9FC;
    background-image: url('./src/wave1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-section p{
    margin-bottom: 90px;

}
/* ----------- FEATURING SECTION ----------- */

.featuring-section{
    background-color: #FDB9FC;
    color: #1d2026;
}

/* ----------- EXTRA SECTION ----------- */
.extra-section{
    background-image: url('./src/bg.png');
    background-size: cover ;
    text-align: center;
}